/* Estilos gerais */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 30px;
  height: 30px;
}

#cart-count {
  margin-left: 5px;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.product {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.product button {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product button:hover {
  background-color: #555;
}

#carrinho-itens {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.item-carrinho {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-carrinho img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#finalizar-compra {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#finalizar-compra:hover {
  background-color: #555;
}
.remover-item {
  background-color: #dc3545; /* Vermelho */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 5px;
}

.remover-item:hover {
  background-color: #c82333; /* Vermelho mais escuro */
}